<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CWcheat_Database_Editor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CWcheat_Database_Editor.My.MySettings>
            <setting name="MSCODEPAGE" serializeAs="String">
                <value>932</value>
            </setting>
            <setting name="codetree" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="CT_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="GID_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="GT_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="cmt_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="cl_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="TOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ERR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>IExplore.exe</value>
            </setting>
            <setting name="gridview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastcodepath" serializeAs="String">
                <value />
            </setting>
            <setting name="gridvalueedit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="download" serializeAs="String">
                <value>http://unzu127xp.pa.land.to/mogura/writelog.php?dl=http://unzu127xp.pa.land.to/data/IJIRO/CDEMOD/bin/Release/CDE_CP932_FM4.exe</value>
            </setting>
            <setting name="nichbrowser" serializeAs="String">
                <value>C:\Program Files\Jane Style\Jane2ch.exe</value>
            </setting>
            <setting name="app8" serializeAs="String">
                <value />
            </setting>
            <setting name="app9" serializeAs="String">
                <value />
            </setting>
            <setting name="app10" serializeAs="String">
                <value />
            </setting>
            <setting name="url8" serializeAs="String">
                <value />
            </setting>
            <setting name="url9" serializeAs="String">
                <value />
            </setting>
            <setting name="url10" serializeAs="String">
                <value />
            </setting>
            <setting name="fixedform" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainyoko" serializeAs="String">
                <value>655</value>
            </setting>
            <setting name="maintate" serializeAs="String">
                <value>596</value>
            </setting>
            <setting name="codepathwhensave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updater" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dhcpstart" serializeAs="String">
                <value>192.168.1.10</value>
            </setting>
            <setting name="dhcpend" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="ftpdaemon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftpdir" serializeAs="String">
                <value>/PICTURE/CWC</value>
            </setting>
            <setting name="staticip" serializeAs="String">
                <value>192.168.1.18</value>
            </setting>
            <setting name="customwait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customsecond" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="hbhash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updatemode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updatecomp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updatesever" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mylocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="listlocation_X" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="gridsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listlocation_Y" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="GBKOP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveencode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savetype" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autocp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkcpstr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usercp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usercpsel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cpstr" serializeAs="String">
                <value>OS default</value>
            </setting>
        </CWcheat_Database_Editor.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
